<p class="mt-2 mb-2">
    <a href="https://github.com/" class="text-sky-300">GitHub</a>
</p>
<p class="mt-2 mb-2">
    
</p>
<h2 class="pb-1 mt-4 mb-4 font-sans text-2xl font-semibold border-b-2 border-indigo-400 border-solid">
    ヘッダで<code class="bg-slate-700">強調</code>してみる
</h2>
<p class="mt-2 mb-2">
    
</p>
<pre>
    <code class="language- hljs">
コードの中では[link](url)も無効化されます
    </code>
</pre>
<p class="mt-2 mb-2">
    
</p>
<p class="mt-2 mb-2">
    <img src="https://avatars.githubusercontent.com/u/43694794?v=4" alt="いい感じ">
</p>
